@import "./bg.css";
body {
  width: 600px;
  height: 1000px;
  color: red;
  background-image: url(../assets/mao.jpg);
}

.bar{
  width: 200px;
  height: 200px;
  background-color: beige;
  color: skyblue;
  cursor: pointer;
  transform: translate(100px, 100px);
}